@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  color: white;
  font-family: "Roboto Slab", serif;
} 

/* img {
  filter: contrast(10%);
} */

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 8px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-link:hover {
  background-color: #808080 !important;
  color: black !important;
}


.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}